<!DOCTYPE html>
<html>
  <head>
    <title>Page Title</title>
    <!-- TODO(sjoyce): Clean up import paths to not give away file structure -->
    <link rel="stylesheet" type="text/css" href="../../web/static/css/main.css">
    <script src="../../web/static/js/pageview.js"></script>
  </head>
  <body>
    <div id="logo">
      <span> Logo Here! </span>
    </div>
    <div id="header">
      <span>Cook's Books </span>
    </div>
    <div id="left_panel">
      <span> This is the left panel test </span>
    </div>
    <div id="content">
      <span> This is the main content section </span>
    </div>
  </body>
</html>

<script>
</script>

