* {
  background-color: #595959;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  background-color: white;
}

body {
  display: grid;
  /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

html, body {
  margin: 0;
  height: 100%;
}

#logo {
  padding: .5em;
  color: white;
  grid-area: 1 / 1 / 1 / 1;
  border: .5em solid;
  border-color: #595959 greenyellow greenyellow #595959;
}

#header {
  padding: .5em;
  grid-area: 1 / 2 / 1 / 12;
  box-sizing: border-box;
  border: .5em solid;
  border-color: #595959 #595959  greenyellow greenyellow;
}

#left_panel {
  padding: .5em;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: last-line;
  box-sizing: border-box;
  border: .5em solid;
  border-color: greenyellow greenyellow #595959 #595959 ;
}

#content {
  padding: .5em;
  grid-column-start: 2;
  grid-column-end: last-line;
  grid-row-start: 2;
  grid-row-end: last-line;
  box-sizing: border-box;
  border: .5em solid;
  border-color: greenyellow #595959 #595959 greenyellow;
}
