html {
  background-color: darkcyan;
}

body {
  background-color: lightblue;
  display: grid;
  /* https://css-tricks.com/snippets/css/complete-guide-grid/ */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

html, body {
  margin: 0;
  height: 100%;
}

#header {
  background-color: lightgoldenrodyellow;
  text-align: center;
  color: navy;
  grid-column-start: 1;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 1;
}

#left_panel {
  background-color: greenyellow;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: last-line;
}
